@model Tesoreria.Models.Recibos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Recibos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Idenficacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Idenficacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoRecibo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoRecibo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDRecibo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
